<ion-popover-view>

  <ion-content>
    <form class="list">
      <form class="list">
        <ion-item class="range range-positive">Speed
          <input type="range" value="3" min="1" max="5">
        </ion-item>
        <ion-item class="range range-positive">Power
          <input type="range" value="3" min="1" max="5">
        </ion-item>
        <ion-item class="range range-positive">Agility
          <input type="range" value="3" min="1" max="5">
        </ion-item>
      </form>
  </ion-content>
</ion-popover-view>
