<ion-view view-title="Ability">
    <ion-content padding="true" class="has-header">
		<h1 id="ability-heading" style="color:#000000;text-align:center;">Ability</h1>
		<div class="spacer" style="height: 100px;"></div>

		<ion-list>
			<div ng-repeat="player in playerGroup">
				<ion-item class="item-avatar item-icon-right" ng-class="{active: isGroupShown(player)}" ng-click="toggleGroup(player)">
					{{player.name}}
					<i class="icon ion-android-contact" ng-class="isGroupShown(player) ? 'ion-minus' : 'ion-plus'"></i>
				</ion-item>
				<form class="list">
				<ion-item class="item-accordion" ng-repeat="abilValue in player.abilityGroup" ng-show="isGroupShown(player)">
				{{abilValue}}
					<div ng-bind-html="">
					</div>
			    </ion-item>
				</form>
			</div>
		</ion-list>
		
    </ion-content>
</ion-view>