<ion-view view-title="Evaluation">
	<ion-content padding="true" class="has-header">
		<h1 id="attendance-heading" style="color:#000000;text-align:center;">Attendance</h1>
		<div class="spacer" style="height: 100px;"></div>
		
		<ion-list>
			<div ng-repeat="player in players">
				<ion-item class="item-icon-right" ng-class="{active: isGroupShown(player)}" ng-click="toggleGroup(player)">
					<i class="icon" ng-class="isGroupShown(player) ? 'ion-minus' : 'ion-plus'"></i>
					{{player.firstName + " " + player.lastName}}
				</ion-item>
				<ion-radio name="{{player.firstName + ' ' + player.lastName}}" ng-repeat="attendance in attendanceValues" 
					class="item-accordion" ng-model="player.attributes[0].value" ng-value="attendance.value" 
					ng-show="isGroupShown(player)">
						{{attendance.text}}
				</ion-radio>
				<label class="item item-input item-accordion" ng-show="isGroupShown(player)">
					<span class="input-label">Notes: </span><textarea placeholder="" ng-model="player.notes[0].attendance" 
						ng-value=""> </textarea>
				</label>
			</div>
		</ion-list>
		<input type="button" class="button button-assertive button-block" ng-click="submit()" value="Submit"/>
	</ion-content>
</ion-view>