<ion-view view-title="Attendance">
    <ion-content padding="true" class="has-header">
		<h1 id="attendance-heading" style="color:#000000;text-align:center;">Attendance</h1>
		<div class="spacer" style="height: 100px;"></div>
		
		<ion-list>
			<div ng-repeat="group in attendanceGroup">
				<ion-item class="item-avatar item-icon-right" ng-class="{active: isGroupShown(group)}" ng-click="toggleGroup(group)">
					{{group.name}}
					<i class="icon ion-android-contact" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
				</ion-item>
				<form class="list">
				<ion-item class="item-accordion" ng-repeat="value in group.values" ng-show="isGroupShown(group)">
				{{value}}
					<div ng-bind-html="">
					</div>
			    </ion-item>
				</form>
			</div>
		</ion-list>
		
		<!--
		<ion-list>
			<div ng-repeat="player in players">
				<ion-item class="item-avatar item-icon-right" ng-class="{active: isGroupShown(group)}" ng-click="toggleGroup(group)">
					{{player.FirstName}} {{player.LastName}}
					<i class="icon ion-android-contact" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
				</ion-item>
				<ion-item class="item-accordion"
						ng-repeat="item in group.items"
						ng-show="isGroupShown(group)">
				Hello, Joey.
			  </ion-item>
			</div>
		</ion-list>
		-->
    </ion-content>
</ion-view>
<!-- <div ng-controller="submitEvaluationCtrl">
			<input type="button" id="submit" class="button button-assertive button-block" ng-click="submit()" value="Submit"/>
		</div> -->
		
