<ion-view view-title="Home">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading4" style="color:#000000;text-align:center;">{{coach[0].FirstName}} {{coach[0].LastName}}'s Teams </h1>
        <div class="spacer" style="height: 100px;"></div>
		<!-- Repeat this for all teams that the coach has -->
		<ion-list>
		  <ion-item ng-repeat="team in teams">
			<a id={{team.TeamName}} class="button button-assertive  button-block" ng-click="teamClicked(team.TeamName)">{{team.TeamName}}</a>
		  </ion-item>
		</ion-list>
    </ion-content>
</ion-view>