<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-assertive tabs-icon-top">
		<div class="retrievePlayersDiv" ng-controller="retrievePlayersCtrl">
			<ion-tab title="Attendance" icon="ion-ios-people" href="#/tabsPage/attendance">
				<ion-nav-view name="tab1"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Attitude" icon="ion-happy" href="#/tabsPage/attitude">
				<ion-nav-view name="tab2"></ion-nav-view>
			</ion-tab>
			<ion-tab title="Ability" icon="ion-ios-football" href="#/tabsPage/ability">
				<ion-nav-view name="tab3"></ion-nav-view>
			</ion-tab>
		</div>
    </ion-tabs>
</ion-view>