<ion-view title="Team 1 " id="page12"> <!-- Delete this file???? -->
    <ion-content padding="true" class="has-header">
        <h1 id="team1-heading6" style="color:#000000;text-align:center;">Roster</h1>
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ui-sref="playerMenu">
                <h2>Player 1</h2>
                <i class="icon ion-android-contact"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" ui-sref="playerMenu">
                <h2>Player 2</h2>
                <i class="icon ion-android-contact"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" ui-sref="playerMenu">
                <h2>Player 3</h2>
                <i class="icon ion-android-contact"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>