<ion-view title="View Stats" id="page13">
    <ion-content padding="true" class="has-header">
        <h1 id="viewStats-heading7" style="color:#000000;text-align:center;">Player [#] Stats</h1>
        <ion-list>
            <ion-item>Attendance
                <span class="item-note">95%</span>
            </ion-item>
            <ion-item class="item-icon-right">Attitude
                <i class="icon ion-happy-outline"></i>
            </ion-item>
            <ion-item>Speed
                <span class="item-note">4.5/5</span>
            </ion-item>
            <ion-item>Power
                <span class="item-note">4/5</span>
            </ion-item>
            <ion-item>Agility
                <span class="item-note">5/5</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>